html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#coords-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: Arial;
  background: rgba(255,255,255,0.8);
  padding: 5px;
}